version: "3.9"

services:
  db:
    image: postgres:15
    container_name: simple_bank-db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: simple_bank
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine

  simplebank:
    build: .
    container_name: simplebank
    ports:
      - "8088:8088"
      - "9099:9099"
    environment:
      - ENVIRONMENT=production
      - DB_SOURCE=postgresql://admin:admin123@db:5432/simple_bank?sslmode=disable
      - REDIS_ADDRESS=redis:6379
    depends_on:
      - db
      - redis

volumes:
  postgres_data: